<html>
   <head>
      <title>Angular JS Services</title>
      <script src = "../../lib/angular-1.8.2/angular.min.js">
      </script>
      <script src = "Services.js">
      </script>
   </head>
   
   <body>
      <h2>AngularJS Sample Application</h2>
      
      <div ng-app = "mainApp" ng-controller = "CalcController">
         <p>Enter a number: <input type = "number" ng-model = "number" /></p>
         <button ng-click = "square()">X<sup>2</sup></button>
         <p>Result: {{result}}</p>
      </div>
      
      <script>
        
      </script>
      
   </body>
</html>