<html>
   <head>
      <title>Angular JS Controller</title>
      <script src = "../../lib/angular-1.8.2/angular.min.js">  
      </script>
       <script src = "studentController.js">      
       </script>
   </head>
   
   <body>
      <h2>AngularJS Sample Application</h2>
      
      <div ng-app = "mainApp" ng-controller = "studentController">
         Enter first name: <input type = "text" ng-model = "student.firstName"><br>
         <br>
         Enter last name: <input type = "text" ng-model = "student.lastName"><br>
         <br>
         You are entering: {{student.fullName()}}
      </div>
      
     
      
   </body>
</html>